/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*// END CSS RESET //*/

/*// BEGIN CSS STYLINGS //*/

html, body {
	height: 100%;
}

body {
	background: #ededed;
	font-family: 'Arial', sans-serif;
	font-size: 13px;
}

/** CONTAINER */

.container {
	width: 1100px;
	margin: 0 auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header-wrapper {
	overflow: hidden;
	background-color: #3b3b3b;
}

#header {
	overflow: hidden;
	height: 150px;
}

/** LOGO */

#logo {
	float: left;
	width: 400px;
}

#logo h1 a {
	display: block;
	line-height: 150px;
	text-decoration: none;
	font-family: 'Kavoon', cursive;
	font-size: 40px;
	color: #fff;
}

/** MENU */

#menu {

	float: right;

	/* The below property is unnecessary if you just display it inline and float left.
	It will take up that space anyways!!
	width: 700px; */
}

#menu ul {
	float: right;
	margin: 0;
	padding: 60px 0 0 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin-left: 10px;
}

#menu a {
	display: block;
	padding: 10px 20px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
}

#menu .active a:hover {
	background-color: #00a987;
}

#menu .active a:active {
	background-color: #20e1b6;
}

#menu a:hover {
	text-decoration: none;
}

/** CONTENT */

#featured-wrapper {
	overflow: hidden;
	padding: 50px 0;
	background-image: url('img/knitting_bg.png');
	background-color: white;
	border-top: 1px solid #E7E7E7;
	text-align: center;
}

#featured header {
	margin-bottom: 10px;
	letter-spacing: -1px;
	font-size: 30px;
	font-weight: 400;
	color: #333333;
}

/** BUTTON STYLING */

.button {
	display: inline-block;
	margin: 0 10px;
	padding: 10px 30px;
	background: #20e1b6;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-o-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255, 1);
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
}

.button:hover {
	background-color: #20e1b6;
}

.button-alt {
	background: #20e1b6;
}

.button-alt:hover {
	background-color: #00ad87;
}

.button-alt:active {
	background-color: #FC3F68;
}

.button-small {
	margin: 5px 0;
	box-shadow: none;
	font-size: 6px;
	color: #fff;
}

/** PORTFOLIO */

#content header {
	display: block;
	margin: 20px 0;
	font-size: 30px;
	font-weight: 400;
	color: #333333;
}

#two-column h3 {
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: 600;
}

#two-column img {
	float: left;
	margin-right: 30px;
	padding: 5px;
	background: #fff;
	opacity: 0.8;
}

#two-column a:hover img {
	opacity: 0.9;
}

#two-column .box-style {
	overflow: hidden;
	padding: 30px 0px;
}

#two-column #tbox1 {
	float: left;
	width: 50%;
}

#two-column #tbox2 {} /** NOT SETTING A WIDTH OR FLOAT FOR THIS BOX
						SOLVED THE PROBLEM? */

/** THIRD SECTION // BANNER */

#banner-wrapper {
	overflow: hidden;
	padding: 12px 0;
	background-color: #20e1b6;
	text-align: center;
	color: #fff;
}

#banner p {
	letter-spacing: -1px;
	font-size: 40px;
}

/** FOOTER */

#footer-wrapper {
	overflow: hidden;
	padding: 35px 0px;
	background: #444;
	border-top: 1px solid #404040;
	border-bottom: 1px solid #404040;
}

#footer {
	overflow: hidden;
	color: #B1B1B1;
}

#footer header {
	margin: 2px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}

#footer #fbox1 {
	float: left;
	width: 700px;
}

#footer #fbox2 {
	float: right;
	width: 300px;
}

#footer a {
	color: #D0D0D0;
}

#footer .button-small {
	color: #ffffff;
}

#copyright {
	text-align: center;
}
#copyright a {
	color: #818181;
}